spring:
  main:
    banner-mode: off
  application:
    name: EDBMS
  datasource:
    url: jdbc:h2:file:C:/J2eeDev/h2/data/edbmsdb;AUTO_SERVER=TRUE
    username: bbanni
    password:  
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
server:
  port: 8093