spring:
  application:
    name: OneToOne

  datasource:
    url: jdbc:h2:file:C:/J2eeDev/h2/data/edbmsdb;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: bbanni
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 809
