spring:
  application:
    name: OneToOne
  datasource:
    url: jdbc:mysql://localhost:3306/hibernetdemo
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

server:
  port: 8083
